:root {
    --font-size-h1: 2.5rem;
    --font-size-h2: 2rem;
    --font-size-h3: 1.75rem;
    --font-family-h1: jaldi, sans-serif;
    --font-family-h2: jaldi, sans-serif;
    --font-family-h3: jaldi, sans-serif;
    --font-weight-h1: 200;
    --beige: #EBE6D3;
    --beige-dunkel: #B3AC91;
    --grün-hell: #869F80;
    --grün-dunkel: #436769;
    --blau: #265970;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 11vh;
}

.team {
    display: flex;
    justify-content: center;
    gap: 20px;

}

.member {
    text-align: center;
    height: 400px;
    width: 400px;
}

img {
    width: 200px;
}

p {
    margin: 0;
    color: #2b6777;
    font-size: 1em;
}

h2 {
    color: var(--blau, #265970);
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.8px;
}


