.loading-spinner {
    position: relative;
    width: 100px;
    /* Adjust as needed */
    height: 100px;
    /* Adjust as needed */
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.rotating-image-left {
    position: absolute;
    top: 176;
    left: 20;
    z-index: 2;
    animation: rotate 2s linear infinite;
    /* Adjust duration and timing function as needed */
}

.rotating-image-right {
    position: absolute;
    top: 176;
    left: 330;
    z-index: 2;
    animation: rotate 2s linear infinite;
    /* Adjust duration and timing function as needed */
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}